{% extends "base.html" %}
{% block content %}
    <div style="display:none">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </div>
    <h1 class="ui header centered">Connect With Other Students</h2>
    <div class="ui container padded">
        <div class="ui grid ">
            <div class="four wide column">
                <div class="ui secondary vertical pointing menu">
                    <a class="item active" data-tab="recommended">
                        Recommended Matches
                    </a>
                    <a class="item" data-tab="get-help">
                        Find Help
                    </a>
                    <a class="item" data-tab="give-help">
                        Offer Help
                    </a>
                </div>
            </div>
            <div class="twelve wide stretched column">
                <div class="ui segment raised">
                    <div id="recommended" onmouseover="disableBodyScroll();" onmouseout="enableBodyScroll();" class="ui tab active" data-tab="recommended">
                        {% for student in matches %}
                            <div class="ui segment padded ">
                                <div class="ui equal width grid">
                                    <div class="column">
                                        <h3> <i class="ui circular user icon"></i>{{ student.username}}</h3>
                                    </div>
                                    <div class="column">
                                        <div data-value="{{student.id}}" class="ui right floated vertical animated button">
                                            <div class="hidden content">Message</div>
                                            <div class="visible content">
                                                <i class="mail icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        Read Summary
                                    </div>
                                    <div class="content">
                                        {{ student.profile.summary }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="ui tab" data-tab="get-help">
                        <form id="get-connect" class="ui form">
                            <h4 class="ui dividing header">Information To Get Help</h4>
                            <div class="ui grid">
                                <div class="eight wide column">
                                    <label>Find Help By Major</label>
                                    <select name="find-majors" class="getMajors ui fluid search dropdown" multiple="">
                                        {% for major in majors %}
                                            <option value={{major.id}}>{{ major.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="eight wide column">
                                    <label>Find Help By Subject</label>
                                    <select name="profs" class="profs ui fluid search dropdown" multiple="">
                                        {% for prof in profs %}
                                            <option value={{prof.id}}>{{prof.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ui tab" data-tab="give-help">
                        <form id="give-connect" class="ui form">
                            <h4 class="ui dividing header">Information To Offer Help</h4>
                            <div class="ui grid">
                                <div class="eight wide column">
                                    <label>Offer Help By Major</label>
                                    <select class="giveMajors ui fluid search dropdown" multiple="">
                                        {% for major in majors %}
                                            <option value={{major.id}}>{{ major.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="eight wide column">
                                    <label>Offer Help By Subject</label>
                                    <select class="defs ui fluid search dropdown" multiple="">
                                        {% for def in defs %}
                                            <option value={{def.id}}>{{def.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div  id="results" class="twelve wide stretched column right floated">
                <div class="ui segment raised">
                    <div id="connect-results" onmouseover="disableBodyScroll();" onmouseout="enableBodyScroll();" class="ui container padded">
                        Select the above fields to find students.
                    </div>
                </div>
            </div>
        </div>
        <div class="ui large modal">
            <div class="ui container ">
                <div class="ui segment padded">
                    <div class="ui form" action="{{HTTP_HOST}}/accounts/message/" method="post">
                        <div class="field">
                            <label>Message</label>
                            <textarea id="message-body" rows="10"></textarea>
                        </div>
                        <input  type="hidden" id="recipient-id"></input>
                        <button id="message-send" class="ui button centered" >Send</button>
                    </div>
                    <div class="ui segment">
                    <p id="message-response"></p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% load staticfiles %}
    {% block scripts %}
        <script src="{% static "js/connect.js" %}" type="text/javascript"></script>
    {% endblock %}